body {
    font-size: 100%;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    font-family: 'Rosarivo', serif;
}

p, li, .sub {
    font-family: 'Esteban', serif;
    letter-spacing: 0.02em;
}

.container {
    max-width: 46.25em;
    margin: 0 auto;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

header, footer {
    margin-bottom: 3.125em;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 1.875em;
}

h4 {
    margin-bottom: 0.625em;
    margin-top: 0.3125em;
}

.sub {
    font-style: italic;
}

p {
    margin-bottom: 0.625em;
    line-height: 1.5em;
}

p.hireme {
    color: #CA2E2E;
    font-weight: bold;
}

.skills {
    margin-bottom: 1.25em;
    overflow: hidden;
}

.skills > li {
    width: 33.333%;
    float: left;
    margin-bottom: 0.125em;
}

.skills:after {
    clear: both;
}

.github-badge img {
    position: fixed;
    top: 0;
    right: 0;
}

.profile-img {
    max-width: 13.125em;
}

.project {
    margin-left: 0.9375em;
}

.project h3 {
    margin-top: 0;
}

.project-img {
    width: 12.5em;
}

section:after {
    content: '';
    display: block;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    height: 0.0625em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

.project:after {
    content: '';
    display: block;
    border-bottom: 0.0625em dashed #ccc;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

.project:last-child:after {
    border-bottom: none;
}

@media screen and (max-width: 60em) {
    .container {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        line-height: 1.5;
    }
}

@media screen and (max-width: 45em) {
    .skills > li {
        width: 48%;
    }

    .pure-u-8-24 {
        display: block;
        width: 100%;
        text-align: center;
    }

    .pure-u-15-24 {
        display: block;
        margin-top: 1.25em;
        width: 100%;
        margin-left: 0;
    }

    .pure-u-15-24 > h4 {
        text-align: center;
    }

    .pure-u-15-24 > p {
        margin-top: 1.25em;
    }
}

@media screen and (max-width: 34.375em) {
    .github-badge {
        display: none;
    }

    h1 {
        font-size: 2.5em;
        margin-top: 0.625em;
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 0.3125em;
    }
}
