body {
    font-size: 100%;
    background: #fff;
    color: #292929;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
    font-family: 'Rosarivo', serif;
}

a {
    color: #3b8bba;
    text-decoration: none;
    letter-spacing: 0.035em;
}

p {
    font-family: 'Esteban', serif;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    margin-bottom: 0.625em;
}

p a {
    font-weight: bold;
}

li {
    font-family: 'Esteban', serif;
    letter-spacing: 0.02em;
}

header,
footer {
    margin-bottom: 3.125em;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    margin: 0 0 1.575em;
}

h4 {
    font-size: 1.17em;
    margin: 0 0 0.625em;
}

h4 a {
    text-decoration: none;
}

article {
    margin-left: 0.9375em;
}

.container {
    max-width: 47em;
    margin: 0 auto;
}

.availability-available {
    color: #3f990f;
}

.availability-busy {
    font-weight: bold;
    color: #ca2e2e;
}

.sub {
    font-style: italic;
    letter-spacing: 0.02em;
}

.skills {
    margin-bottom: 1.25em;
    overflow: hidden;
}

.skills > li {
    width: 33.333%;
    float: left;
    margin-bottom: 0.125em;
}

.skills:after {
    clear: both;
}

.profile-img {
    max-width: 13.125em;
    height: auto;
}

.project-image img {
    max-width: 12.5em;
    height: auto;
}

section:after {
    content: '';
    display: block;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-color: #fff;
    height: 1px;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

article:after {
    content: '';
    display: block;
    border-bottom: 1px dashed #ccc;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

article:last-child:after {
    border-bottom: none;
}

@media screen and (max-width: 60em) {
    .container {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        line-height: 1.5;
    }
}

@media screen and (max-width: 45em) {
    body {
        font-size: 93%;
    }

    .skills > li {
        width: 48%;
    }

    .project-image {
        display: block;
        width: 100%;
        text-align: center;
    }

    .project-description {
        display: block;
        margin-top: 1.25em;
        width: 100%;
        margin-left: 0;
    }

    h4 {
        text-align: center;
    }

    article p {
        margin-top: 1.25em;
    }
}

@media screen and (max-width: 34.375em) {
    h1 {
        font-size: 2.5em;
        margin-top: 0.625em;
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 1.3125em;
    }

    header,
    footer {
        margin-bottom: 2.125em;
    }

    .profile-img {
        max-width: 12.125em;
    }
}
